<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/tickets.css}">
    <title>Konyvklub</title>

</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/book.png}" class="img-responsive" style="width:45px; height:45px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rolunk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bejelentkezes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Regisztracio</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top:90px;">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success add-ticket-btn" data-toggle="modal" data-target="#addTicketModal">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3">
                <form th:action="@{/tickets/filter}">
                    <label for="title">Cím</label>
                    <input class="form-control" type="text" name="title" id="title" />
                    <label for="writer">író</label>
                    <input class="form-control" type="text" name="writer" id="writer"/>
                    <button type="submit" class="btn btn-primary">Keresés</button>
                </form>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row">
                    <th:block th:each="ticket : ${tickets}">
                        <div class="col-12 card-content">
                            <div class="card shadow">
                                <h2 class="card-header" th:text="${ticket.bookToSell.title}"></h2>
                                <div class="card-body">
                                    <a data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" data-html="true" href="#" id="user-profile"
                                        th:text="${'Elado: ' + ticket.seller.email}" class="profile-name"></a>
                                    <p th:text="${ticket.description}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                        content.
                                    </p>
                                    <a th:href="@{/tickets/__${ticket.id}__}" class="btn btn-primary float-right">Érdekel</a>
                                    <p th:text="${#lists.size(ticket.offers) + ' ember már tett ajánlatot'}"></p>
                                </div>
                                <div id="popover-content-user-profile" class="hide">
                                    <img th:src="@{/img/book1.jpg}" class="profile-pic" />
                                    <h2 th:text="${ticket.seller.email}" class="center"></h2>
                                    <ul class="list-unstyled">
                                        <li th:text="${ticket.seller.firstName + ' ' + ticket.seller.lastName}"></li>
                                        <li th:text="${ticket.seller.address.city}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addTicketModal" tabindex="-1" role="dialog" aria-labelledby="addTicketModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTicketModalTitle">Ticket hozzáadása</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${newTicket}" th:action="@{/tickets}" method="POST">
                        <label>Cserélni kívánt könyv</label>
                        <select class="form-control" th:field="*{id}">
                            <option th:each="book : ${userBooks}" th:value="${book.id}" th:text="${book.title}"></option>
                        </select>
                        <label>Mit kérek cserébe?</label>
                        <textarea type="text" class="form-control" name="description" th:field="*{description}" required rows="5" />
                        <button type="submit" class="btn btn-primary">Ticket hozzáadása</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/popover-profile.js}"></script>

</body>

</html>