<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Konyvklub</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/book.png}" class="img-responsive" style="width:45px; height:45px;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rolunk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bejelentkezes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Regisztracio</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="wrapper">

        <nav id="sidebar">
            <ul class="list-unstyled">
                <li class="sidebar-item" id="datasBtn">
                    <a href="#">Adataim</a>
                </li>
                <li class="sidebar-item" id="booksBtn">
                    <a href="#">Könyveim</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <button type="button" class="btn btn-success add-book-btn float-right" data-toggle="modal" data-target="#addBookModal">
                <i class="fas fa-plus"></i>
            </button>
            <div class="row">
                <div class="col-12 ml-2">
                    <button class="btn sidebar-toggler" id="sidebarCollapse">
                        <i class="fas fa-bars"></i>
                        <span>Menü</span>
                    </button>

                    <div class="row" id="account-details">
                        <div class="col-12 col-md-6">
                            <h2 class="mt-2 mb-4">Adataim</h2>
                            <p th:text="${'Vezetéknév: ' + user.lastName}"></p>
                            <p th:text="${'Keresztnév: ' + user.firstName}"></p>
                            <p th:text="${'Email: ' + user.email}"></p>
                        </div>
                        <div class="col-12 col-md-4">
                            <h2 class="mt-2 mb-4">Jelszó cseréje</h2>
                            <form>
                                <label for="old">Régi jelszó</label>
                                <input type="password" name="old" class="form-control form-control-sm mb-3" />
                                <label for="new">Új jelszó</label>
                                <input type="password" name="new" class="form-control form-control-sm mb-3" />
                                <label for="newConfirm">Új jelszó ismét</label>
                                <input type="password" name="newConfirm" class="form-control form-control-sm mb-3" />
                                <button type="submit" class="btn btn-primary float-right">Csere!</button>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-4" id="books">
                        <div class="col-12">
                            <h2 class="mt-2 text-center">Könyveim</h2>
                            <table class="table text-center table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th>Iro</th>
                                        <th>Cim</th>
                                        <th>Kiado</th>
                                        <th>Kiadas eve</th>
                                        <th>ISBN</th>
                                        <th>Hasznalatban van</th>
                                        <th>Torles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <th:block th:each="book : ${user.books}">
                                        <tr th:class="${book.offerable} ? 'offerable-row' : 'non-offerable-row'">
                                            <td th:text="${book.writer}"></td>
                                            <td th:text="${book.title}"></td>
                                            <td th:text="${book.publisher}"></td>
                                            <td th:text="${book.yearOfPublishing}"></td>
                                            <td th:text="${book.isbn}"></td>
                                            <td th:text="${book.offerable} ? 'NEM' : 'IGEN'"></td>
                                            <td>
                                                <form th:action="@{book/__${book.id}__(userId = ${user.id})}" th:method="delete">
                                                    <input type="hidden" name="_method" value="delete" />
                                                    <button type="submit" id="submitButton">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBookModalTitle">Konyv hozzaadasa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:object="${newBook}" th:action="@{/user/__${user.id}__/book}" method="POST">
                            <label>Cim</label>
                            <input type="text" class="form-control" name="title" th:field="*{title}" required/>
                            <label>Iro</label>
                            <input type="text" class="form-control" name="writer" th:field="*{writer}" required/>
                            <label>Kiado</label>
                            <input type="text" class="form-control" name="publisher" th:field="*{publisher}" required/>
                            <label>Kiadas eve</label>
                            <input type="number" class="form-control" name="yearOfPublishing" th:field="*{yearOfPublishing}" required/>
                            <label>ISBN</label>
                            <input type="text" class="form-control" name="isbn" th:field="*{isbn}" />
                            <button type="submit" class="btn btn-primary">Konyv hozzaadasa</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/profile-menu.js}"></script>
</body>

</html>